<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batontouch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.batontouch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.batontouch.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/app_icon_2"
        android:label="바톤터치"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".main.SplashActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.Logout_Dialog"
            android:label="Batontouch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".main.LoginActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".included.Include_Createbaton"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageAskedActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageActivity_ManageTasks_Footer"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageProfileActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonMangeActivity_ManageTasks"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Example"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask_Selected"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask_Choose"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask_Detail"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreateActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".homeindex.BatonIndexActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".homeindex.NMapViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".homeindex.BatonShowActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".homeindex.BatonListAdapter"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.List6"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask1"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask_Map"
            android:label="Batontouch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask2"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_Gift"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostALastTask"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask3"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Intro"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Manage_Cukis"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Manage_Gifticon"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Manage_Gifticonpage"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Manage_Gifticonpage_Storeinfo"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Edit"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingActivity_KaKao"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_HowItWorks"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.RegisterActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.UserLoginActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Announcement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Dropout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_FAQ"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Logout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Policy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Suggestion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Verification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_PushArea"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".setting.Setting_Alarm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Payment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".kakaoLink.MainActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" >

            <!-- custom scheme(execute url) -->
            <intent-filter>
                <data
                    android:host="starActivity"
                    android:scheme="kakaoLinkTest" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".managebaton.BatonManageShowActivity_User"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageShowActivity_Client"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageReviewActivity_User"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageReviewActivity_Client"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageActivity_Intro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageClientActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageAdapter_Client"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.batontouch" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.GCMIntentService" />
    </application>

</manifest>