<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batontouch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.SplashActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".main.Logout_Dialog"
            android:label="Batontouch"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.LoginActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonManageActivity_ManageTasks_Footer"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        
        
        <activity
            android:name=".managebaton.BatonManageActivity_ClientProfile"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managebaton.BatonMangeActivity_ManageTasks"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Example"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreateActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".homeindex.BatonIndexActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".homeindex.NMapViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".homeindex.BatonShowActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".homeindex.MyListAdapter2"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.List6"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask1"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask_Map"
            android:label="Batontouch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask2"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostALastTask"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".createbaton.BatonCreate_PostATask3"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity_Edit"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingActivity_KaKao"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.RegisterActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.UserLoginActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Announcement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Dropout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_FAQ"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Logout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Policy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Suggestion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Verification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_PushArea"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".setting.Setting_Alarm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.Setting_Payment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".kakaoLink.MainActivity"
            android:label="Batontouch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" >

            <!-- custom scheme(execute url) -->
            <intent-filter>
                <data
                    android:host="starActivity"
                    android:scheme="kakaoLinkTest" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>